<!DOCtype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon App</title>
  </head>
  <body>
    <h1>Welcome to our Pokemon App</h1>

    <!-- This takes clients to the homepage -->
    <a href="/">Head back to the home page</a>

    <!-- Sign up form -->
    <form action="/create-user" method="POST">
      <div>
        <label for="username">Username</label>
        <input
          name="username"
          type="text"
          id="username"
          placeholder="Username"
        />
      </div>

      <div>
        <label for="signupPassword">Password</label>
        <input
          name="password"
          type="text"
          id="signupPassword"
          placeholder="Password"
        />
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>